<div class="navbar bg-base-100 shadow-md">
    <div class="flex-1">
        <a href="/" class="btn btn-ghost text-xl">Segra</a>
    </div>

    <div class="flex-none gap-2">
        <a class="btn btn-ghost" href="/">Home</a>
	<a class="btn btn-ghost" href="{% url 'about' %}">About</a>

        {% if user.is_authenticated %}
        <div class="dropdown dropdown-end">
            <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full">
                    {% if user.profile_photo %}
                        <img src="{{ user.profile_photo.url }}" />
                    {% else %}
                        <img src="https://ui-avatars.com/api/?name={{ user.username }}&background=10b981&color=fff" />
                    {% endif %}
                </div>
            </label>

            <ul tabindex="0" class="mt-3 p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="w-full text-left">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
        {% else %}
        <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
</div>
